.header{
  background-color: rgb(34, 34, 67);
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(239, 239, 239);
}
.main{
  background-color: rgb(212, 212, 255);
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  flex-direction: column;
}
.box{
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgb(34, 34, 67);
  border-radius: 5px;
}
.box button{
  border-color: rgb(170, 170, 234);
  border: solid;
  border-radius: 10px;
  width: 10%;
  height: 10%;
  background-color: rgb(111, 111, 230);
  color: rgb(239, 239, 239);
}
.footer{
  background-color: rgb(34, 34, 67);
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(239, 239, 239);
}
  .notActive{
    background-color: rgb(239, 239, 239);
    cursor: not-allowed;
   pointer-events: none;

  }
  .active{
    background-color: rgb(111, 111, 230);
  }
  .red{
    background-color: rgb(239, 239, 239);
    height: 70%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(239, 239, 239);
    font-size: large;
    font-weight: 400;
  }
  .redD{
    background-color: rgb(239, 239, 239);
    height: 70%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
   pointer-events: none;
   border-radius: 5px;
   color: rgb(239, 239, 239);
   font-size: large;
    font-weight: 400;
  }
  .green{
    background-color: rgb(111, 111, 230);
    height: 70%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(239, 239, 239);
    font-size: large;
    font-weight: 400;
  }
  .text{
    color: rgb(239, 239, 239);
  }
  .homeLinks{
    background-color: rgb(111, 111, 230);
    width: 10%;
    height: 10%;
    display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(239, 239, 239);
  border-radius: 5px;
  }